langchain
langchain-core
langchain-community
langchain-openai

langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-google-genai

chromadb
sentence-transformers

youtube-transcript-api

streamlit
python-dotenv

pypdf
beautifulsoup4
lxml

yt-dlp